<div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
    <.input name="counter" type="text" value={@count} disabled />
    <.button phx-click="increment">Increment</.button>
</div>